
.box {
    .left-box{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        float: left;
        margin: 20px;
    }

    .right-box{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        float: left;
        margin: 20px;
    }
}

.search-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .logo {
        background-image: url('../../static/media/lase-logo-beta.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 160px;
        height: 75px;
    }
    
    .submit-search {
        min-width: 38px !important;
    }
}