.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  height: 100vh;
  overflow: auto;

}
.top-sector {
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding: 1.2rem 0;
  background: #eeeeee;

}
