.container {
  margin: 0rem auto;
  max-width: 1280px;
  width: 90%;
  justify-content: center;
  align-content: center;
}
/*
.top-sector {
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding: 1.2rem 0;
  background: #eeeeee;
}
*/
#result-header {
  position: fixed;
  top: 0;
  height: 5rem;
  background: #fff;
  width: 100vw;
  padding: 1.2rem;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

#results {
  margin-top: 9rem;

  .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 0 auto;
      padding: 3rem 0;
  }
}

