@import 'pages/HomePage';
@import 'components/Searchform';
@import 'pages/ResultPage';

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #efefef;
  margin: 0;
  padding: 0;
//  overflow: hidden;
}

.loading {
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  opacity: .95;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: .5rem;

  a {
    color: #333;
    font-size: .8rem;
    text-decoration: none;
  }
}
